* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
/* Navbar */

nav {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

nav > * {
    text-decoration: none;
    color: #07106d;
    font-size: 1.5rem;
    transition: all .23s ease;
    width: 200px;
    border-bottom: 1px solid #ccc5c5 ;
    font-weight: 700;
    letter-spacing: 3px;
    transition: all .32s ease ;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav *:hover{
    color: red;
    transform: translateX(10px);
}